<%- include header %>


<div class="container-fluid" style="margin-top: 60px;">
	<div class="row">
		<div class="col-md-12" >
			<h3><span class="detail-title"><%= title %></span></h3>

				<ul>
					<li><%= publishDate%></li>
					<li><%= author%></li>
					<li><%= editor%></li>
					<li><%= source%></li>
				</ul>
						
				<% data.forEach(function(ele){ %>

					<p>&emsp;&emsp;<%- ele || '暂无文字介绍，敬请期待'%></p>
				<%	})%>
				

		</div>
	</div>
</div>

<%- include footer %>