<%- include header %>

<div class="container-fluid" style="margin-top: 60px;">
	<div class="row">
		<div class="col-md-12" >
			<h3><span class="detail-title"><%= title %></span></h3>

				<ul style="margin-left: -15px;">
					<li>>&emsp;<%= publishDate%></li>
					<li>>&emsp;<%= author%></li>
					<li>>&emsp;<%= editor%></li>
					<li>>&emsp;<%= source%></li>
				</ul>	
				<% data.forEach(function(ele){ %>

					<p>&emsp;&emsp;<%- ele%></p>

				<%	})%>
		</div>
	</div>
</div>

<%- include footer %>