<%- include header %>

<div class="container-fluid" style="margin-top: 60px;">
	<div class="row">
		<div class="col-md-12" >
			<h3><span class="detail-title"><%= title %></span></h3>

				<%= publishDate%>
				<%= author%>
				<%= editor%>
				<%= source%>
				<%= data%>

				
				
		</div>
	</div>
</div>

<%- include footer %>