<%- include header %>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2><%= title %><span class="badge">12</span></h2>

				<% data.forEach(function(ele){ %>

					<section>
						<div class="item">
							<a class="item-a" href="/content?url=<%= ele.href%>">
							<%= ele.title %>
							</a>
						</div>
					</section> 

				<%	})%>
			</ul>
		</div>
	</div>
</div>

<%- include footer %>